# Importação dos dados

<div align = "center">
    <img src = "https://github.com/AndersonAyache/AluraVoz/blob/main/IMG/Logo_Alura_Voz.png?raw=true" alt = "Alura Voz"/>
</div>

In [1]:
import sys
sys.path.append('../')

# Importando o pandas para fazer a análise 
import pandas as pd

# Importando o pacote pessoal para ajudar na análise e limpeza dos dados. 
import suporte.suportedata as sd

In [2]:
# configurações de visualização do DataFrame
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [3]:
# importando a primeira visualização do DataFrame
clientes = pd.read_json('../dados/Telco-Customer-Churn.json')

In [4]:
clientes

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'One year', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}"
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 59.9, 'Total': '542.4'}}"
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 4}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 73.9, 'Total': '280.85'}}"
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 13}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'Yes', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 98.0, 'Total': '1237.85'}}"
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 3}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 83.9, 'Total': '267.4'}}"
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 13}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'Yes', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'One year', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 55.15, 'Total': '742.9'}}"
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 22}","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 85.1, 'Total': '1873.7'}}"
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 2}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 50.3, 'Total': '92.75'}}"
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 67}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'Yes', 'OnlineBackup': 'No', 'DeviceProtection': 'Yes', 'TechSupport': 'Yes', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Two year', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 67.85, 'Total': '4627.65'}}"
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 63}","{'PhoneService': 'No', 'MultipleLines': 'No phone service'}","{'InternetService': 'DSL', 'OnlineSecurity': 'Yes', 'OnlineBackup': 'Yes', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'Yes', 'StreamingMovies': 'Yes'}","{'Contract': 'Two year', 'PaperlessBilling': 'No', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 59.0, 'Total': '3707.6'}}"

# Normalizando as colunas Json

In [5]:
# foram criados alguns DataFrames de apoio
customer = pd.json_normalize(clientes['customer']) 
phone = pd.json_normalize(clientes['phone']) 
internet = pd.json_normalize(clientes['internet']) 
account = pd.json_normalize(clientes['account'])

# esses DataFrames foram colocados em uma lista 
lista = [customer, phone, internet, account]

# dropando as colunas com informações já normalizadas. 
clientes_v01 = clientes.copy()
clientes_v01.drop(columns=['customer', 'phone','internet','account'], inplace=True)

Os dados estão em um formato JSON onde as informações estão em colunas, para isso é preciso normalizar, algo parecido com um processo de “extração”.

# Verificando as informações

## Coluna: `customer`

In [6]:
sd.tipo_variaveis(customer)

Valores da variável gender --> ['Female' 'Male']

Valores da variável SeniorCitizen --> [0 1]

Valores da variável Partner --> ['Yes' 'No']

Valores da variável Dependents --> ['Yes' 'No']

Valores da variável tenure --> [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]

## Coluna: `phone`

In [7]:
sd.tipo_variaveis(phone)

Valores da variável PhoneService --> ['Yes' 'No']

Valores da variável MultipleLines --> ['No' 'Yes' 'No phone service']

## Coluna: `internet`

In [8]:
sd.tipo_variaveis(internet)

Valores da variável InternetService --> ['DSL' 'Fiber optic' 'No']

Valores da variável OnlineSecurity --> ['No' 'Yes' 'No internet service']

Valores da variável OnlineBackup --> ['Yes' 'No' 'No internet service']

Valores da variável DeviceProtection --> ['No' 'Yes' 'No internet service']

Valores da variável TechSupport --> ['Yes' 'No' 'No internet service']

Valores da variável StreamingTV --> ['Yes' 'No' 'No internet service']

Valores da variável StreamingMovies --> ['No' 'Yes' 'No internet service']

## Coluna: `account`

In [9]:
sd.tipo_variaveis(account)

Valores da variável Contract --> ['One year' 'Month-to-month' 'Two year']

Valores da variável PaperlessBilling --> ['Yes' 'No']

Valores da variável PaymentMethod --> ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

Valores da variável Charges.Monthly --> [65.6  59.9  73.9  ... 91.75 68.8  67.85]

Valores da variável Charges.Total --> ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

# Juntando os DataFrames

### DataFrame Original

In [10]:
clientes_v01.head()

   customerID Churn
0  0002-ORFBO    No
1  0003-MKNFE    No
2  0004-TLHLJ   Yes
3  0011-IGKFF   Yes
4  0013-EXCHZ   Yes

### Novo DataFrame

In [11]:
# juntando os DataFrames gerados pela normalização
clientes_v02 = pd.concat([clientes_v01, customer, phone, internet, account], axis=1)
clientes_v02.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

# Tradução das Variáveis

In [12]:
variaveis = {
    'gender' : 'genero',
    'SeniorCitizen' : 'senior',
    'Partner' : 'conjuge',
    'Dependents' : 'dependentes',
    'tenure' : 'permanencia',
    'PhoneService' : 'ServicoTelefonico',
    'MultipleLines' : 'MultiplasLinhas',
    'InternetService': 'ServicoInternet',
    'OnlineSecurity' : 'SeguroOnline',
    'DeviceProtection' : 'ProtecaoDoDispositivo',
    'TechSupport' : 'SuporteTecnico',
    'StreamingMovies' : 'StreamingFilmes',
    'Contract' : 'contrato',
    'PaperlessBilling' : 'FaturaOnline',
    'PaymentMethod' : 'MetodoDePagamento',
    'Charges.Monthly' : 'GastoMensal',
    'Charges.Total' : 'GastoTotal'
}
valores = {
      'Female' : 'Mulher',
    'Male' : 'Homem',
    'Yes' : 'Sim',
    'No' : 'Não',
    'No phone service' : 'SemTelefone',
    'No internet service' : 'SemInternet',
    'Fiber optic' :'FibraOptica',
    'One year' : 'UmAno',
    'Two year' : 'DoisAnos',
    'Month-to-month' : 'Mensal',
    'Mailed check' : 'EnvioDeCheque',
    'Electronic check' : 'ChequeEletronico',
    'Credit card (automatic)' : 'CartaoCredito',
    'Bank transfer (automatic)' : 'TransferenciaBancaria'    
}

# renomeando as colunas
clientes_v03 = clientes_v02.rename(columns = variaveis)

# renomeando os valores
clientes_v03.replace(to_replace = valores, inplace = True)
clientes_v03.head()

,customerID,Churn,genero,senior,conjuge,dependentes,permanencia,ServicoTelefonico,MultiplasLinhas,ServicoInternet,SeguroOnline,OnlineBackup,ProtecaoDoDispositivo,SuporteTecnico,StreamingTV,StreamingFilmes,contrato,FaturaOnline,MetodoDePagamento,GastoMensal,GastoTotal
0,0002-ORFBO,Não,Mulher,0,Sim,Sim,9,Sim,Não,DSL,Não,Sim,Não,Sim,Sim,Não,UmAno,Sim,EnvioDeCheque,65.6,593.3
1,0003-MKNFE,Não,Homem,0,Não,Não,9,Sim,Sim,DSL,Não,Não,Não,Não,Não,Sim,Mensal,Não,EnvioDeCheque,59.9,542.4
2,0004-TLHLJ,Sim,Homem,0,Não,Não,4,Sim,Não,FibraOptica,Não,Não,Sim,Não,Não,Não,Mensal,Sim,ChequeEletronico,73.9,280.85
3,0011-IGKFF,Sim,Homem,1,Sim,Não,13,Sim,Não,FibraOptica,Não,Sim,Sim,Não,Sim,Sim,Mensal,Sim,ChequeEletronico,98.0,1237.85
4,0013-EXCHZ,Sim,Mulher,1,Sim,Não,3,Sim,Não,FibraOptica,Não,Não,Não,Sim,Sim,Não,Mensal,Sim,EnvioDeCheque,83.9,267.4

In [ ]:
cli

# Verificação dos dados

In [13]:
clientes_v03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customerID             7267 non-null   object
 1   Churn                  7267 non-null   object
 2   genero                 7267 non-null   object
 3   senior                 7267 non-null   int64
 4   conjuge                7267 non-null   object
 5   dependentes            7267 non-null   object
 6   permanencia            7267 non-null   int64
 7   ServicoTelefonico      7267 non-null   object
 8   MultiplasLinhas        7267 non-null   object
 9   ServicoInternet        7267 non-null   object
 10  SeguroOnline           7267 non-null   object
 11  OnlineBackup           7267 non-null   object
 12  ProtecaoDoDispositivo  7267 non-null   object
 13  SuporteTecnico         7267 non-null   object
 14  StreamingTV            7267 non-null   object
 15  StreamingFilmes        7267 non-null   object
 16  contrato               7267 non-null   object
 17  FaturaOnline           7267 non-null   object
 18  MetodoDePagamento      7267 non-null   object
 19  GastoMensal            7267 non-null   float64
 20  GastoTotal             7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Verificando a coluna `Churn`

Analisando os elementos únicos da coluna `Churn`.

In [14]:
print('Variável Churn:')
print(clientes_v02['Churn'].unique())

Variável Churn:
['No' 'Yes' '']

Ao analisar os elementos da coluna `Churn` é possível notar alguns preenchidos inadequadamente, estes elementos serão retirados do DataFrame, pois como a nossa variável resposta é justamente a coluna de `Churn`, estas entras não acrescentaram em nada na análise dos dados.

In [15]:
# query para verificar os elementos incorretos 
clientes_v03.query('Churn == ""')

,customerID,Churn,genero,senior,conjuge,dependentes,permanencia,ServicoTelefonico,MultiplasLinhas,ServicoInternet,SeguroOnline,OnlineBackup,ProtecaoDoDispositivo,SuporteTecnico,StreamingTV,StreamingFilmes,contrato,FaturaOnline,MetodoDePagamento,GastoMensal,GastoTotal
30,0047-ZHDTW,,Mulher,0,Não,Não,11,Sim,Sim,FibraOptica,Sim,Não,Não,Não,Não,Não,Mensal,Sim,TransferenciaBancaria,79.00,929.3
75,0120-YZLQA,,Homem,0,Não,Não,71,Sim,Não,Não,SemInternet,SemInternet,SemInternet,SemInternet,SemInternet,SemInternet,DoisAnos,Sim,CartaoCredito,19.90,1355.1
96,0154-QYHJU,,Homem,0,Não,Não,29,Sim,Não,DSL,Sim,Sim,Não,Sim,Não,Não,UmAno,Sim,ChequeEletronico,58.75,1696.2
98,0162-RZGMZ,,Mulher,1,Não,Não,5,Sim,Não,DSL,Sim,Sim,Não,Sim,Não,Não,Mensal,Não,CartaoCredito,59.90,287.85
175,0274-VVQOQ,,Homem,1,Sim,Não,65,Sim,Sim,FibraOptica,Não,Sim,Sim,Não,Sim,Sim,UmAno,Sim,TransferenciaBancaria,103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Mulher,0,Não,Não,14,Sim,Sim,DSL,Não,Sim,Não,Não,Não,Não,UmAno,Sim,EnvioDeCheque,54.25,773.2
7180,9872-RZQQB,,Mulher,0,Sim,Não,49,Não,SemTelefone,DSL,Sim,Não,Não,Não,Sim,Não,Mensal,Não,TransferenciaBancaria,40.65,2070.75
7211,9920-GNDMB,,Homem,0,Não,Não,9,Sim,Sim,FibraOptica,Não,Não,Não,Não,Não,Não,Mensal,Sim,ChequeEletronico,76.25,684.85
7239,9955-RVWSC,,Mulher,0,Sim,Sim,67,Sim,Não,Não,SemInternet,SemInternet,SemInternet,SemInternet,SemInternet,SemInternet,DoisAnos,Sim,TransferenciaBancaria,19.25,1372.9
7247,9966-VYRTZ,,Mulher,0,Sim,Sim,31,Sim,Não,Não,SemInternet,SemInternet,SemInternet,SemInternet,SemInternet,SemInternet,Mensal,Sim,EnvioDeCheque,19.55,658.95

In [16]:
# excluindo os elementos incorretos
clientes_v04 = clientes_v03[~(clientes_v02['Churn'] == '')]

# refazendo a query para verifica se os elementos errados ainda estão no DataFrame 
churn_nao_preenchidos = clientes_v04.query('Churn == ""').shape[0]

print(f'Total de não preenchidos na coluna Churn:{churn_nao_preenchidos}')

Total de não preenchidos na coluna Churn:0

## Coluna `customerID`

A coluna `customerID` é usada para identificar cada usuário e como essa identificação também não ajuda na análise dos dados, essa coluna será desconsiderada no DataFrame.

In [17]:
clientes_v04['customerID'].value_counts()

0002-ORFBO    1
6616-AALSR    1
6625-UTXEW    1
6625-IUTTT    1
6625-FLENO    1
             ..
3352-RICWQ    1
3352-ALMCK    1
3351-NQLDI    1
3351-NGXYI    1
9995-HOTOH    1
Name: customerID, Length: 7043, dtype: int64

In [18]:
# excluindo a coluna customerID
clientes_v05 = clientes_v04.drop(columns=['customerID'], axis= 1)
clientes_v05.head()

,Churn,genero,senior,conjuge,dependentes,permanencia,ServicoTelefonico,MultiplasLinhas,ServicoInternet,SeguroOnline,OnlineBackup,ProtecaoDoDispositivo,SuporteTecnico,StreamingTV,StreamingFilmes,contrato,FaturaOnline,MetodoDePagamento,GastoMensal,GastoTotal
0,Não,Mulher,0,Sim,Sim,9,Sim,Não,DSL,Não,Sim,Não,Sim,Sim,Não,UmAno,Sim,EnvioDeCheque,65.6,593.3
1,Não,Homem,0,Não,Não,9,Sim,Sim,DSL,Não,Não,Não,Não,Não,Sim,Mensal,Não,EnvioDeCheque,59.9,542.4
2,Sim,Homem,0,Não,Não,4,Sim,Não,FibraOptica,Não,Não,Sim,Não,Não,Não,Mensal,Sim,ChequeEletronico,73.9,280.85
3,Sim,Homem,1,Sim,Não,13,Sim,Não,FibraOptica,Não,Sim,Sim,Não,Sim,Sim,Mensal,Sim,ChequeEletronico,98.0,1237.85
4,Sim,Mulher,1,Sim,Não,3,Sim,Não,FibraOptica,Não,Não,Não,Sim,Sim,Não,Mensal,Sim,EnvioDeCheque,83.9,267.4

## Coluna`GastoTotal`

A coluna `Charges.Total`, agora chamada de `GastoTotal`, possui a tipagem de *_object_*, porém como visto inicialmente ela deveria ser uma coluna numérica.

In [19]:
clientes_v05['GastoTotal'].value_counts()

           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: GastoTotal, Length: 6531, dtype: int64

Um dos motivos é que esta possui 11 elementos do qual seu valor está em branco.

In [20]:
clientes_v05.query('GastoTotal == " "')[['Churn', 'genero','conjuge',
                                         'dependentes','permanencia',
                                         'GastoMensal', 'GastoTotal']]

     Churn  genero conjuge dependentes  permanencia  GastoMensal GastoTotal
975    Não  Mulher     Sim         Sim            0        56.05
1775   Não  Mulher     Sim         Sim            0        20.00
1955   Não   Homem     Não         Sim            0        61.90
2075   Não   Homem     Sim         Sim            0        19.70
2232   Não   Homem     Não         Sim            0        20.25
2308   Não   Homem     Sim         Sim            0        25.35
2930   Não  Mulher     Sim         Sim            0        73.35
3134   Não   Homem     Sim         Sim            0        25.75
3203   Não  Mulher     Sim         Sim            0        52.55
4169   Não  Mulher     Sim         Sim            0        80.85
5599   Não   Homem     Sim         Sim            0        19.85

Esses 11 valores são de clientes novos, que não completaram nem um mês de permanência na **Alura Voz**.

In [21]:
# criando mais uma versão do DataFrame
clientes_v06 = clientes_v05.copy()

# Realizando a conversão.
clientes_v06['GastoTotal'] = pd.to_numeric(clientes_v06['GastoTotal'], errors='coerce')

In [22]:
clientes_v06.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7266
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Churn                  7043 non-null   object
 1   genero                 7043 non-null   object
 2   senior                 7043 non-null   int64
 3   conjuge                7043 non-null   object
 4   dependentes            7043 non-null   object
 5   permanencia            7043 non-null   int64
 6   ServicoTelefonico      7043 non-null   object
 7   MultiplasLinhas        7043 non-null   object
 8   ServicoInternet        7043 non-null   object
 9   SeguroOnline           7043 non-null   object
 10  OnlineBackup           7043 non-null   object
 11  ProtecaoDoDispositivo  7043 non-null   object
 12  SuporteTecnico         7043 non-null   object
 13  StreamingTV            7043 non-null   object
 14  StreamingFilmes        7043 non-null   object
 15  contrato               7043 non-null   object
 16  FaturaOnline           7043 non-null   object
 17  MetodoDePagamento      7043 non-null   object
 18  GastoMensal            7043 non-null   float64
 19  GastoTotal             7032 non-null   float64
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [23]:
clientes_v06.query('permanencia  == 0 ')[['Churn', 'genero','conjuge',
                                         'dependentes','permanencia',
                                         'GastoMensal', 'GastoTotal']]

     Churn  genero conjuge dependentes  permanencia  GastoMensal  GastoTotal
975    Não  Mulher     Sim         Sim            0        56.05         NaN
1775   Não  Mulher     Sim         Sim            0        20.00         NaN
1955   Não   Homem     Não         Sim            0        61.90         NaN
2075   Não   Homem     Sim         Sim            0        19.70         NaN
2232   Não   Homem     Não         Sim            0        20.25         NaN
2308   Não   Homem     Sim         Sim            0        25.35         NaN
2930   Não  Mulher     Sim         Sim            0        73.35         NaN
3134   Não   Homem     Sim         Sim            0        25.75         NaN
3203   Não  Mulher     Sim         Sim            0        52.55         NaN
4169   Não  Mulher     Sim         Sim            0        80.85         NaN
5599   Não   Homem     Sim         Sim            0        19.85         NaN

Após troca da tipagem da coluna `GastoTotal` os 11 valores ficaram preenchidos como não numéricos.

In [24]:
clientes_v06.isna().sum()

Churn                     0
genero                    0
senior                    0
conjuge                   0
dependentes               0
permanencia               0
ServicoTelefonico         0
MultiplasLinhas           0
ServicoInternet           0
SeguroOnline              0
OnlineBackup              0
ProtecaoDoDispositivo     0
SuporteTecnico            0
StreamingTV               0
StreamingFilmes           0
contrato                  0
FaturaOnline              0
MetodoDePagamento         0
GastoMensal               0
GastoTotal               11
dtype: int64

E como somente essa coluna possui valores não numéricos, é possível alterar seus valores, para zero, sem interferir em outras colunas.

In [25]:
# trocando os NaN por zeros.
clientes_v07 = clientes_v06.fillna(0)

In [26]:
clientes_v07.query('GastoTotal == 0')[['Churn', 'genero','conjuge',
                                         'dependentes','permanencia',
                                         'GastoMensal', 'GastoTotal']]

     Churn  genero conjuge dependentes  permanencia  GastoMensal  GastoTotal
975    Não  Mulher     Sim         Sim            0        56.05         0.0
1775   Não  Mulher     Sim         Sim            0        20.00         0.0
1955   Não   Homem     Não         Sim            0        61.90         0.0
2075   Não   Homem     Sim         Sim            0        19.70         0.0
2232   Não   Homem     Não         Sim            0        20.25         0.0
2308   Não   Homem     Sim         Sim            0        25.35         0.0
2930   Não  Mulher     Sim         Sim            0        73.35         0.0
3134   Não   Homem     Sim         Sim            0        25.75         0.0
3203   Não  Mulher     Sim         Sim            0        52.55         0.0
4169   Não  Mulher     Sim         Sim            0        80.85         0.0
5599   Não   Homem     Sim         Sim            0        19.85         0.0

# Criando a variável `GastoDiario`

A coluna `GastoDiario` será criada de modo que se testa a possibilidade dela ajudar em futuras análises.

In [27]:
# criando um novo DataFrame
clientes_v08 = clientes_v07.copy()

# criando a coluna GastoDiario
clientes_v08['GastoDiario'] = round(clientes_v08['GastoMensal'] /30,2) 
clientes_v08.head()

,Churn,genero,senior,conjuge,dependentes,permanencia,ServicoTelefonico,MultiplasLinhas,ServicoInternet,SeguroOnline,OnlineBackup,ProtecaoDoDispositivo,SuporteTecnico,StreamingTV,StreamingFilmes,contrato,FaturaOnline,MetodoDePagamento,GastoMensal,GastoTotal,GastoDiario
0,Não,Mulher,0,Sim,Sim,9,Sim,Não,DSL,Não,Sim,Não,Sim,Sim,Não,UmAno,Sim,EnvioDeCheque,65.6,593.30,2.19
1,Não,Homem,0,Não,Não,9,Sim,Sim,DSL,Não,Não,Não,Não,Não,Sim,Mensal,Não,EnvioDeCheque,59.9,542.40,2.00
2,Sim,Homem,0,Não,Não,4,Sim,Não,FibraOptica,Não,Não,Sim,Não,Não,Não,Mensal,Sim,ChequeEletronico,73.9,280.85,2.46
3,Sim,Homem,1,Sim,Não,13,Sim,Não,FibraOptica,Não,Sim,Sim,Não,Sim,Sim,Mensal,Sim,ChequeEletronico,98.0,1237.85,3.27
4,Sim,Mulher,1,Sim,Não,3,Sim,Não,FibraOptica,Não,Não,Não,Sim,Sim,Não,Mensal,Sim,EnvioDeCheque,83.9,267.40,2.80

# Salvado o DataFrame

In [28]:
# salvando o DataFrame
clientes_v08.to_json('../dados/Telco-Customer-Churn-Limpo.json')